Repository kubeshop/testkube, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube, @kubeshop/testkube-devops

fix: update OpenAPI spec
  api/v1/testkube.yaml
Owners: @kubeshop/testkube-backend

fix: add mode=replace query param for TestTrigger full replacement (#6932)
  api/v1/testkube.yaml
  internal/app/api/v1/testtriggers.go
  internal/app/api/v1/testtriggers_test.go
  pkg/api/v1/client/interface.go
  pkg/api/v1/client/testtriggers.go
Owners: @kubeshop/testkube-backend

feat: add eager assignment (#6928)
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/agent_grpc_general.go
  pkg/controlplane/scheduling/enqueuer.go
  pkg/controlplane/scheduling/querier.go
  pkg/controlplane/scheduling/querier_mongo.go
  pkg/controlplane/scheduling/querier_postgres.go
  pkg/controlplane/scheduling/scheduler_postgres.go
  pkg/controlplane/scheduling/sqlc/execution_querier.sql
  pkg/controlplane/scheduling/sqlc/execution_querier.sql.go
  pkg/testworkflows/testworkflowexecutor/prepared.go
Owners: @kubeshop/testkube-backend

fix: use full replacement for YAML updates in TestTrigger handler (#6931)
  internal/app/api/v1/testtriggers.go
  internal/app/api/v1/testtriggers_test.go
  pkg/mapper/testtriggers/kube_openapi.go
Owners: @kubeshop/testkube-backend

fix: add mode=replace query param for TestTrigger full replacement (#6932)
  api/v1/testkube.yaml
  internal/app/api/v1/testtriggers.go
  internal/app/api/v1/testtriggers_test.go
  pkg/api/v1/client/interface.go
  pkg/api/v1/client/testtriggers.go
Owners: @kubeshop/testkube-backend

feat: [x] allow insecure tls
  cmd/api-server/main.go
  internal/sync/grpc/client.go
  internal/sync/grpc/client_test.go
  pkg/grpcutils/token_source.go
  pkg/runner/grpc/client.go
  pkg/runner/grpc/client_test.go
Owners: @kubeshop/testkube-backend

feat: detect failure when service exits with non-zero code; cleanup services logic and add tests
  cmd/tcl/testworkflow-toolkit/commands/services.go
  cmd/tcl/testworkflow-toolkit/commands/services_test.go
  test/integration/components/toolkit/services_test.go
Owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube

fix(devbox): add lease permissions for agent leader election
  cmd/tcl/kubectl-testkube/devbox/devutils/namespace.go
Owners: @kubeshop/testkube-backend

fix(devbox): add lease permissions for agent leader election (#6933)
  cmd/tcl/kubectl-testkube/devbox/devutils/namespace.go
Owners: @kubeshop/testkube-backend

feat: detect failure when service exits with non-zero code; cleanup services logic and add tests (#6909)
  cmd/tcl/testworkflow-toolkit/commands/services.go
  cmd/tcl/testworkflow-toolkit/commands/services_test.go
  test/integration/components/toolkit/services_test.go
Owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube

feat: detect failure when service exits with non-zero code; cleanup services logic and add tests (#6909)
  cmd/tcl/testworkflow-toolkit/commands/services.go
  cmd/tcl/testworkflow-toolkit/commands/services_test.go
  test/integration/components/toolkit/services_test.go
Owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube

fix(devbox): add lease permissions for agent leader election (#6933)
  cmd/tcl/kubectl-testkube/devbox/devutils/namespace.go
Owners: @kubeshop/testkube-backend

fix: docker bake and build workflow to right push public cli images (#6929)
  .github/workflows/new-build.yaml
  docker-bake.hcl
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

fix makefile
  Makefile
Owners: @kubeshop/testkube-backend

fix makefile (#6934)
  Makefile
Owners: @kubeshop/testkube-backend

fix: [TKC-4714] add event matching so group-agnostic listeners receive env-scoped events
  pkg/api/v1/testkube/model_event_extended.go
  pkg/api/v1/testkube/model_event_extended_test.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4714] add event matching so group-agnostic listeners receive env-scoped events (#6935)
  pkg/api/v1/testkube/model_event_extended.go
  pkg/api/v1/testkube/model_event_extended_test.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4714] add event matching so group-agnostic listeners receive env-scoped events (#6935)
  pkg/api/v1/testkube/model_event_extended.go
  pkg/api/v1/testkube/model_event_extended_test.go
Owners: @kubeshop/testkube-backend

add more logging for cronjobs
  Makefile
  internal/cronjob/robfig/manager.go
Owners: @kubeshop/testkube-backend

Fix: [TKC-4722] GitOps delete sync to avoid empty-name objects
  internal/sync/controller/fakes_test.go
  internal/sync/controller/testtrigger.go
  internal/sync/controller/testtrigger_test.go
  internal/sync/controller/testworkflow.go
  internal/sync/controller/testworkflow_test.go
  internal/sync/controller/testworkflowtemplate.go
  internal/sync/controller/testworkflowtemplate_test.go
  internal/sync/controller/webhook.go
  internal/sync/controller/webhook_test.go
  internal/sync/controller/webhooktemplate.go
  internal/sync/controller/webhooktemplate_test.go
Owners: @kubeshop/testkube-backend

Fix: [TKC-4722] GitOps delete sync to avoid empty-name objects (#6936)
  internal/sync/controller/fakes_test.go
  internal/sync/controller/testtrigger.go
  internal/sync/controller/testtrigger_test.go
  internal/sync/controller/testworkflow.go
  internal/sync/controller/testworkflow_test.go
  internal/sync/controller/testworkflowtemplate.go
  internal/sync/controller/testworkflowtemplate_test.go
  internal/sync/controller/webhook.go
  internal/sync/controller/webhook_test.go
  internal/sync/controller/webhooktemplate.go
  internal/sync/controller/webhooktemplate_test.go
Owners: @kubeshop/testkube-backend

Fix: [TKC-4723] SuperAgent migration disables super agent grpc connections
  cmd/api-server/main.go
  pkg/agent/agent.go
Owners: @kubeshop/testkube-backend

fix: deprecate -n alias for --name flag in CLI commands
  cmd/kubectl-testkube/commands/testworkflows/run.go
  cmd/kubectl-testkube/commands/webhooks/create.go
  cmd/kubectl-testkube/commands/webhooks/delete.go
  cmd/kubectl-testkube/commands/webhooks/get.go
  cmd/kubectl-testkube/commands/webhooks/update.go
  cmd/kubectl-testkube/commands/webhooktemplates/create.go
  cmd/kubectl-testkube/commands/webhooktemplates/delete.go
  cmd/kubectl-testkube/commands/webhooktemplates/get.go
  cmd/kubectl-testkube/commands/webhooktemplates/update.go
  cmd/tcl/kubectl-testkube/devbox/command.go
Owners: @kubeshop/testkube-backend

feat: add TestSuite repeat N times feature
  pkg/mapper/testworkflows/kube.go
  pkg/mapper/testworkflows/mappers_test.go
Owners: @kubeshop/testkube-backend

Fix: [TKC-4723] SuperAgent migration disables super agent grpc connections (#6937)
  cmd/api-server/main.go
  pkg/agent/agent.go
Owners: @kubeshop/testkube-backend

fix linting
  internal/cronjob/robfig/manager.go
Owners: @kubeshop/testkube-backend

feat: add more logging for cronjobs (#6940)
  Makefile
  internal/cronjob/robfig/manager.go
Owners: @kubeshop/testkube-backend

extend testtrigger logging
  pkg/triggers/event.go
Owners: @kubeshop/testkube-backend

move errs out of condition
  pkg/triggers/event.go
Owners: @kubeshop/testkube-backend

feat/cert_based_git_auth
  cmd/testworkflow-toolkit/commands/clone.go
Owners: @kubeshop/testkube-backend

workflow tests - icon annotations added (#6925)
  test/artillery/crd-workflow/smoke.yaml
  test/curl/crd-workflow/smoke.yaml
  test/cypress/crd-workflow/smoke.yaml
  test/gradle/crd-workflow/smoke.yaml
  test/jmeter/crd-workflow/smoke.yaml
  test/junit/crd-workflow/smoke.yaml
  test/k6/crd-workflow/smoke.yaml
  test/locust/crd-workflow/smoke.yaml
  test/maven/crd-workflow/smoke.yaml
  test/nunit/crd-workflow/crd.yaml
  test/pact/pact-js-project/crd-workflow/smoke.yaml
  test/playwright/crd-workflow/smoke.yaml
  test/postman/crd-workflow/smoke.yaml
  test/pytest/crd-workflow/smoke.yaml
  test/robotframework/crd/smoke.yaml
  test/selenium/crd-workflow/smoke.yaml
  test/soapui/crd-workflow/smoke.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat: [x] allow insecure tls
  cmd/api-server/main.go
  internal/sync/grpc/client.go
  internal/sync/grpc/client_test.go
  pkg/grpcutils/token_source.go
  pkg/runner/grpc/client.go
  pkg/runner/grpc/client_test.go
Owners: @kubeshop/testkube-backend

feat: [x] allow insecure tls (#6943)
  cmd/api-server/main.go
  internal/sync/grpc/client.go
  internal/sync/grpc/client_test.go
  pkg/grpcutils/token_source.go
  pkg/runner/grpc/client.go
  pkg/runner/grpc/client_test.go
Owners: @kubeshop/testkube-backend

add logging to cronjob service
  pkg/cronjob/service.go
Owners: @kubeshop/testkube-backend

chore: Add cleanup of dirs created during tests (#6874)
  cmd/kubectl-testkube/config/config_test.go
  pkg/event/bus/testserver.go
  pkg/event/bus/testserver_test.go
Owners: @kubeshop/testkube-backend

fix: cve-2025-48384 Upgrade to alpine:3.20.8 (#6811)
  .github/workflows/new-build.yaml
  Makefile
  build/_local/testworkflow-toolkit.Dockerfile
  build/mcp-server/Dockerfile
  docker-bake.hcl
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

fix lint
  pkg/cronjob/service.go
Owners: @kubeshop/testkube-backend

feat: add more logging to cronjob service (#6944)
  pkg/cronjob/service.go
Owners: @kubeshop/testkube-backend

feat: extend testtrigger logging (#6941)
  pkg/triggers/event.go
Owners: @kubeshop/testkube-backend

fix(cli): prevent crash when displaying incomplete test workflow executions
  cmd/kubectl-testkube/commands/testworkflows/renderer/testworkflowexecution_obj.go
  cmd/kubectl-testkube/commands/testworkflows/renderer/testworkflowexecution_obj_test.go
Owners: @kubeshop/testkube-backend

.github/CODEOWNERS:

* @kubeshop/testkube-backend

/test/ @kubeshop/testkube-qa @kubeshop/testkube

/.github/ @kubeshop/testkube-devops
/goreleaser_files/ @kubeshop/testkube-devops
.goreleaser.yml @kubeshop/testkube-devops
.goreleaser-dev.yml @kubeshop/testkube-devops
.golangci.yml @kubeshop/testkube-devops
.builds-* @kubeshop/testkube-devops
