Repository kubeshop/testkube, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube, @kubeshop/testkube-devops

fix: format sql
  pkg/database/postgres/migrations/20250603170830_init.sql
Owners: @kubeshop/testkube-backend

fix: add migration
  pkg/database/postgres/migrations/20251015112922_schema_tuning.sql
Owners: @kubeshop/testkube-backend

feat: webhooks capabalities
  cmd/api-server/main.go
  internal/config/config.go
  pkg/cloud/service.pb.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

feat: disable agent-based webhooks when cloud-based enabled
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

chore: add automated build for mcp server (#6750)
  .github/workflows/new-build.yaml
Owners: @kubeshop/testkube-devops

feat: added category labels for workflows (#6752)
  test/artillery/crd-workflow/smoke.yaml
  test/curl/crd-workflow/smoke.yaml
  test/cypress/crd-workflow/smoke.yaml
  test/espresso/crd-workflow/smoke.yaml
  test/examples/cloud-demo/test-workflows/cypress.yaml
  test/examples/cloud-demo/test-workflows/gradle.yaml
  test/examples/cloud-demo/test-workflows/jmeter.yaml
  test/examples/cloud-demo/test-workflows/k6.yaml
  test/examples/cloud-demo/test-workflows/playwright.yaml
  test/examples/cloud-demo/test-workflows/postman.yaml
  test/examples/k6-perf/k6-crd.yaml
  test/examples/kubecon/test-workflows/cypress.yaml
  test/examples/kubecon/test-workflows/gradle.yaml
  test/examples/kubecon/test-workflows/jmeter.yaml
  test/examples/kubecon/test-workflows/k6.yaml
  test/examples/kubecon/test-workflows/playwright.yaml
  test/examples/kubecon/test-workflows/postman.yaml
  test/gradle/crd-workflow/smoke.yaml
  test/jmeter/crd-workflow/smoke.yaml
  test/junit-pregenerated-reports/crd-workflow/smoke.yaml
  test/junit/crd-workflow/smoke.yaml
  test/k6/crd-workflow/smoke.yaml
  test/locust/crd-workflow/smoke.yaml
  test/maven/crd-workflow/smoke.yaml
  test/nunit/crd-workflow/crd.yaml
  test/pact/pact-js-project/crd-workflow/smoke.yaml
  test/playwright/crd-workflow/smoke.yaml
  test/postman/crd-workflow/smoke.yaml
  test/pytest/crd-workflow/smoke.yaml
  test/selenium/crd-workflow/smoke.yaml
  test/soapui/crd-workflow/smoke.yaml
  test/xunit/crd-workflow/smoke.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat: Add RPC definitions for sync functionality
  pkg/proto/testkube/sync/v1/delete_request.pb.go
  pkg/proto/testkube/sync/v1/delete_response.pb.go
  pkg/proto/testkube/sync/v1/sync_service.pb.go
  pkg/proto/testkube/sync/v1/sync_service_grpc.pb.go
  pkg/proto/testkube/sync/v1/test_trigger.pb.go
  pkg/proto/testkube/sync/v1/test_trigger_id.pb.go
  pkg/proto/testkube/sync/v1/test_workflow.pb.go
  pkg/proto/testkube/sync/v1/test_workflow_id.pb.go
  pkg/proto/testkube/sync/v1/test_workflow_template.pb.go
  pkg/proto/testkube/sync/v1/test_workflow_template_id.pb.go
  pkg/proto/testkube/sync/v1/update_or_create_request.pb.go
  pkg/proto/testkube/sync/v1/update_or_create_response.pb.go
  pkg/proto/testkube/sync/v1/webhook.pb.go
  pkg/proto/testkube/sync/v1/webhook_id.pb.go
  pkg/proto/testkube/sync/v1/webhook_template.pb.go
  pkg/proto/testkube/sync/v1/webhook_template_id.pb.go
  pkg/proto/testkube/testworkflow/execution/v1/set_execution_scheduling_response.pb.go
  proto/testkube/sync/v1/delete_request.proto
  proto/testkube/sync/v1/delete_response.proto
  proto/testkube/sync/v1/sync_service.proto
  proto/testkube/sync/v1/test_trigger.proto
  proto/testkube/sync/v1/test_trigger_id.proto
  proto/testkube/sync/v1/test_workflow.proto
  proto/testkube/sync/v1/test_workflow_id.proto
  proto/testkube/sync/v1/test_workflow_template.proto
  proto/testkube/sync/v1/test_workflow_template_id.proto
  proto/testkube/sync/v1/update_or_create_request.proto
  proto/testkube/sync/v1/update_or_create_response.proto
  proto/testkube/sync/v1/webhook.proto
  proto/testkube/sync/v1/webhook_id.proto
  proto/testkube/sync/v1/webhook_template.proto
  proto/testkube/sync/v1/webhook_template_id.proto
  proto/testkube/testworkflow/execution/v1/set_execution_scheduling_response.proto
Owners: @kubeshop/testkube-backend

k6 tests updated
  test/k6/k6-smoke-test-without-envs.js
  test/k6/k6-smoke-test.js
  test/suites/cron/dev/full-suite-cron.yaml
  test/suites/cron/dev/trigger-small-suite-on-deployment.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat: Add RPC definitions for sync functionality (#6756)
  pkg/proto/testkube/sync/v1/delete_request.pb.go
  pkg/proto/testkube/sync/v1/delete_response.pb.go
  pkg/proto/testkube/sync/v1/sync_service.pb.go
  pkg/proto/testkube/sync/v1/sync_service_grpc.pb.go
  pkg/proto/testkube/sync/v1/test_trigger.pb.go
  pkg/proto/testkube/sync/v1/test_trigger_id.pb.go
  pkg/proto/testkube/sync/v1/test_workflow.pb.go
  pkg/proto/testkube/sync/v1/test_workflow_id.pb.go
  pkg/proto/testkube/sync/v1/test_workflow_template.pb.go
  pkg/proto/testkube/sync/v1/test_workflow_template_id.pb.go
  pkg/proto/testkube/sync/v1/update_or_create_request.pb.go
  pkg/proto/testkube/sync/v1/update_or_create_response.pb.go
  pkg/proto/testkube/sync/v1/webhook.pb.go
  pkg/proto/testkube/sync/v1/webhook_id.pb.go
  pkg/proto/testkube/sync/v1/webhook_template.pb.go
  pkg/proto/testkube/sync/v1/webhook_template_id.pb.go
  pkg/proto/testkube/testworkflow/execution/v1/set_execution_scheduling_response.pb.go
  proto/testkube/sync/v1/delete_request.proto
  proto/testkube/sync/v1/delete_response.proto
  proto/testkube/sync/v1/sync_service.proto
  proto/testkube/sync/v1/test_trigger.proto
  proto/testkube/sync/v1/test_trigger_id.proto
  proto/testkube/sync/v1/test_workflow.proto
  proto/testkube/sync/v1/test_workflow_id.proto
  proto/testkube/sync/v1/test_workflow_template.proto
  proto/testkube/sync/v1/test_workflow_template_id.proto
  proto/testkube/sync/v1/update_or_create_request.proto
  proto/testkube/sync/v1/update_or_create_response.proto
  proto/testkube/sync/v1/webhook.proto
  proto/testkube/sync/v1/webhook_id.proto
  proto/testkube/sync/v1/webhook_template.proto
  proto/testkube/sync/v1/webhook_template_id.proto
  proto/testkube/testworkflow/execution/v1/set_execution_scheduling_response.proto
Owners: @kubeshop/testkube-backend

feat: Implement sync gRPC client
  internal/sync/docs.go
  internal/sync/grpc/client.go
  internal/sync/grpc/client_test.go
  internal/sync/grpc/testtrigger.go
  internal/sync/grpc/testtrigger_test.go
  internal/sync/grpc/testworkflow.go
  internal/sync/grpc/testworkflow_test.go
  internal/sync/grpc/testworkflowtemplate.go
  internal/sync/grpc/testworkflowtemplate_test.go
  internal/sync/grpc/webhook.go
  internal/sync/grpc/webhook_test.go
  internal/sync/grpc/webhooktemplate.go
  internal/sync/grpc/webhooktemplate_test.go
Owners: @kubeshop/testkube-backend

k6 tests updated
  test/k6/k6-smoke-test-without-envs.js
  test/k6/k6-smoke-test.js
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat: Implement sync gRPC client (#6759)
  internal/sync/docs.go
  internal/sync/grpc/client.go
  internal/sync/grpc/client_test.go
  internal/sync/grpc/testtrigger.go
  internal/sync/grpc/testtrigger_test.go
  internal/sync/grpc/testworkflow.go
  internal/sync/grpc/testworkflow_test.go
  internal/sync/grpc/testworkflowtemplate.go
  internal/sync/grpc/testworkflowtemplate_test.go
  internal/sync/grpc/webhook.go
  internal/sync/grpc/webhook_test.go
  internal/sync/grpc/webhooktemplate.go
  internal/sync/grpc/webhooktemplate_test.go
Owners: @kubeshop/testkube-backend

Sandbox environment - added expected fail and random scenarios trigger
  test/suites/cron/sandbox/small-suite-cron.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

Sandbox environment - added expected fail and random scenarios trigger (#6760)
  test/suites/cron/sandbox/small-suite-cron.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

Demo environment - added expected fail and random scenarios trigger
  test/suites/cron/demo/small-suite-cron.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat: Implement sync Kubernetes controllers
  internal/sync/controller/fakes_test.go
  internal/sync/controller/testtrigger.go
  internal/sync/controller/testtrigger_test.go
  internal/sync/controller/testworkflow.go
  internal/sync/controller/testworkflow_test.go
  internal/sync/controller/testworkflowtemplate.go
  internal/sync/controller/testworkflowtemplate_test.go
  internal/sync/controller/webhook.go
  internal/sync/controller/webhook_test.go
  internal/sync/controller/webhooktemplate.go
  internal/sync/controller/webhooktemplate_test.go
Owners: @kubeshop/testkube-backend

feat: [TKC-4410] trigger also expected fail and random scenarios at demo (#6761)
  test/suites/cron/demo/small-suite-cron.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

chore: restructure embedded controlplane grpc handlers
  pkg/controlplane/agent_grpc_call.go
  pkg/controlplane/agent_grpc_runner.go
  pkg/controlplane/server.go
Owners: @kubeshop/testkube-backend

fix: use proper grpc configuration
  pkg/controlplane/server.go
Owners: @kubeshop/testkube-backend

feat: add enqueuer
  cmd/api-server/commons/commons.go
  cmd/api-server/services/controlplane.go
  internal/app/api/v1/testworkflows.go
  internal/common/mode.go
  internal/config/procontext.go
  pkg/agent/client/client.go
  pkg/controlplane/agent_grpc_general.go
  pkg/controlplane/enqueuer.go
  pkg/controlplane/errors.go
  pkg/controlplane/server.go
  pkg/cronjob/executor.go
  pkg/triggers/executor.go
Owners: @kubeshop/testkube-backend

chore: add new polling functions
  pkg/controlplane/agent_grpc_runner.go
Owners: @kubeshop/testkube-backend

chore: move CommandNotImplemented
  pkg/controlplane/agent_grpc_call.go
  pkg/controlplane/server.go
Owners: @kubeshop/testkube-backend

feat: add SetExecutionScheduling
  pkg/controlplane/agent_grpc_runner.go
  pkg/controlplane/scheduler.go
Owners: @kubeshop/testkube-backend

feat: add execution controller
  cmd/api-server/services/controlplane.go
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/scheduling/controller.go
  pkg/controlplane/scheduling/controller_mongo.go
  pkg/controlplane/scheduling/controller_postgres.go
  pkg/controlplane/server.go
  pkg/repository/interface.go
  pkg/repository/mongo_factory.go
  pkg/repository/postgres_factory.go
Owners: @kubeshop/testkube-backend

feat: add querier
  cmd/api-server/services/controlplane.go
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/scheduling/querier.go
  pkg/controlplane/scheduling/querier_mongo.go
  pkg/controlplane/scheduling/querier_postgres.go
  pkg/controlplane/server.go
  pkg/repository/interface.go
  pkg/repository/mongo_factory.go
  pkg/repository/postgres_factory.go
Owners: @kubeshop/testkube-backend

chore: add comment for missing execution token
  pkg/controlplane/agent_grpc_execution_updates.go
Owners: @kubeshop/testkube-backend

chore: add more StandaloneOrg/Env placeholders
  pkg/controlplane/agent_grpc_general.go
  pkg/controlplane/agent_grpc_runner.go
Owners: @kubeshop/testkube-backend

chore: fix linter
  pkg/utils/utils.go
Owners: @kubeshop/testkube-backend

feat: add scheduler
  cmd/api-server/services/controlplane.go
  internal/common/mode.go
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/agent_grpc_runner.go
  pkg/controlplane/scheduler.go
  pkg/controlplane/scheduling/enqueuer.go
  pkg/controlplane/scheduling/scheduler.go
  pkg/controlplane/scheduling/scheduler_mongo.go
  pkg/controlplane/scheduling/scheduler_postgres.go
  pkg/controlplane/server.go
  pkg/repository/interface.go
  pkg/repository/mongo_factory.go
  pkg/repository/postgres_factory.go
  pkg/utils/utils.go
Owners: @kubeshop/testkube-backend

chore: add important disclaimer regarding empty string env/orgs
  internal/common/mode.go
Owners: @kubeshop/testkube-backend

chore: remove old and now unused executor from standalone server
  cmd/api-server/services/controlplane.go
  internal/app/api/v1/testworkflows.go
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/server.go
Owners: @kubeshop/testkube-backend

chore: remove graphql
  cmd/api-server/main.go
  cmd/api-server/services/deprecatedsystem.go
  go.mod
  go.sum
  gqlgen.yml
  internal/app/api/deprecatedv1/graphql.go
  internal/app/api/deprecatedv1/server.go
  internal/config/config.go
  internal/graphql/gen/generated.go
  internal/graphql/resolvers/executors_resolver.go
  internal/graphql/resolvers/executors_resolver_test.go
  internal/graphql/resolvers/resolver.go
  internal/graphql/resolvers/root_resolver.go
  internal/graphql/resolvers/test_client.go
  internal/graphql/scalars/maps.go
  internal/graphql/schemas/executors.graphqls
  internal/graphql/schemas/root.graphqls
  internal/graphql/server.go
  internal/graphql/services/common.go
  internal/graphql/services/executors.go
  internal/graphql/services/executors_test.go
  internal/graphql/services/mock_executors.go
  internal/graphql/services/mock_service.go
  internal/graphql/services/service.go
  internal/graphql/services/service_base.go
  internal/graphql/tools.go
Owners: @kubeshop/testkube-backend

chore: fix linter
  pkg/controlplane/server.go
  pkg/repository/manager_test.go
  pkg/testworkflows/testworkflowexecutor/utils.go
Owners: @kubeshop/testkube-backend

chore: remove scheduler and direct execution
  cmd/api-server/main.go
  pkg/testworkflows/testworkflowexecutor/executor.go
  pkg/testworkflows/testworkflowexecutor/mock_scheduler.go
  pkg/testworkflows/testworkflowexecutor/scheduler.go
Owners: @kubeshop/testkube-backend

chore: simplify TestWorkflowExecuor.Execute signature
  internal/app/api/v1/testworkflows.go
  pkg/controller/testworkflowexecutionexecutor.go
  pkg/controller/testworkflowexecutionexecutor_test.go
  pkg/cronjob/executor.go
  pkg/cronjob/executor_test.go
  pkg/cronjob/testworkflow_test.go
  pkg/testworkflows/testworkflowexecutor/executor.go
  pkg/testworkflows/testworkflowexecutor/mock_executor.go
  pkg/triggers/executor.go
  pkg/triggers/executor_test.go
Owners: @kubeshop/testkube-backend

chore: improve debug dockerfile
  build/_local/agent-server.Dockerfile
Owners: @kubeshop/testkube-backend

chore: remove unused params
  cmd/api-server/main.go
  cmd/api-server/services/controlplane.go
Owners: @kubeshop/testkube-backend

fix: fix bugs in NewArchitecture execution scheduling
  pkg/controlplane/agent_grpc_general.go
  pkg/controlplane/agent_grpc_runner.go
  pkg/controlplane/server.go
  pkg/repository/mongo_factory.go
  pkg/runner/grpc/client.go
Owners: @kubeshop/testkube-backend

feat(oss): add NewArchitecture Pause/Resume
  internal/app/api/v1/testworkflowexecutions.go
Owners: @kubeshop/testkube-backend

feat(oss): add NewArchitecture abort
  cmd/api-server/main.go
  internal/app/api/v1/server.go
  internal/app/api/v1/testworkflowexecutions.go
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/server.go
Owners: @kubeshop/testkube-backend

.github/CODEOWNERS:

* @kubeshop/testkube-backend

/test/ @kubeshop/testkube-qa @kubeshop/testkube

/.github/ @kubeshop/testkube-devops
/goreleaser_files/ @kubeshop/testkube-devops
.goreleaser.yml @kubeshop/testkube-devops
.goreleaser-dev.yml @kubeshop/testkube-devops
.golangci.yml @kubeshop/testkube-devops
.builds-* @kubeshop/testkube-devops
