Repository kubeshop/testkube, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube, @kubeshop/testkube-devops

.github/CODEOWNERS:

* @kubeshop/testkube-backend

/test/ @kubeshop/testkube-qa @kubeshop/testkube

/.github/ @kubeshop/testkube-devops
/goreleaser_files/ @kubeshop/testkube-devops
.goreleaser.yml @kubeshop/testkube-devops
.goreleaser-dev.yml @kubeshop/testkube-devops
.golangci.yml @kubeshop/testkube-devops
.builds-* @kubeshop/testkube-devops

fix(TKC-4532): secret manager missing prefixes (#6857)
  cmd/api-server/main.go
  internal/app/api/v1/secret.go
  pkg/secretmanager/manager.go
Owners: @kubeshop/testkube-backend

feat: replace procontext in webhooks (#6843)
  api/v1/testkube.yaml
  cmd/api-server/main.go
  pkg/agent/events.go
  pkg/api/v1/testkube/model_event.go
  pkg/api/v1/testkube/model_event_extended.go
  pkg/api/v1/testkube/model_event_extended_test.go
  pkg/controlplane/agent_grpc_runner.go
  pkg/controlplane/scheduling/enqueuer.go
  pkg/event/emitter.go
  pkg/event/emitter_test.go
  pkg/event/kind/cdevent/listener.go
  pkg/event/kind/common/interface_test.go
  pkg/event/kind/common/interfaces.go
  pkg/event/kind/dummy/listener.go
  pkg/event/kind/k8sevent/listener.go
  pkg/event/kind/slack/listener.go
  pkg/event/kind/testworkflowexecutionmetrics/listener.go
  pkg/event/kind/testworkflowexecutions/listener.go
  pkg/event/kind/testworkflowexecutiontelemetry/listener.go
  pkg/event/kind/webhook/listener.go
  pkg/event/kind/webhook/loader.go
  pkg/event/kind/webhook/templatevars.go
  pkg/event/kind/webhook/templatevars_test.go
  pkg/event/kind/websocket/listener.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4563] add logger to ECR helper in cranefetcher.go (#6872)
  pkg/imageinspector/cranefetcher.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4563] add logger to ECR helper in cranefetcher.go (#6872)
  pkg/imageinspector/cranefetcher.go
Owners: @kubeshop/testkube-backend

update runner token to accept secretRef
  k8s/helm/testkube-runner/templates/deployment.yaml
  k8s/helm/testkube-runner/values.yaml
Owners: @kubeshop/testkube-backend

update condition as per suggestion
  k8s/helm/testkube-runner/templates/deployment.yaml
Owners: @kubeshop/testkube-backend

feat: update runner token to accept secretRef (#6873)
  k8s/helm/testkube-runner/templates/deployment.yaml
  k8s/helm/testkube-runner/values.yaml
Owners: @kubeshop/testkube-backend

chore: Add cleanup of dirs created during tests
  cmd/kubectl-testkube/config/config_test.go
  pkg/event/bus/testserver.go
  pkg/event/bus/testserver_test.go
Owners: @kubeshop/testkube-backend

chore: init agents.md
  AGENTS.md
Owners: @kubeshop/testkube-backend

fix: [TKC-4585] agent panic
  cmd/api-server/main.go
  pkg/imageinspector/cranefetcher.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4585] agent panic (#6877)
  cmd/api-server/main.go
  pkg/imageinspector/cranefetcher.go
Owners: @kubeshop/testkube-backend

feat: update runner token to accept secretRef (#6873)
  k8s/helm/testkube-runner/templates/deployment.yaml
  k8s/helm/testkube-runner/values.yaml
Owners: @kubeshop/testkube-backend

fix: revert super agent upgrade mechanism abusing self-registration API
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

fix: revert super agent upgrade mechanism abusing self-registration API (#6880)
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

chore: revert self-registration helm changes
  k8s/helm/testkube-api/templates/_helpers.tpl
  k8s/helm/testkube-api/templates/deployment.yaml
  k8s/helm/testkube-api/values.yaml
Owners: @kubeshop/testkube-backend

chore: revert self-registration helm changes (#6882)
  k8s/helm/testkube-api/templates/_helpers.tpl
  k8s/helm/testkube-api/templates/deployment.yaml
  k8s/helm/testkube-api/values.yaml
Owners: @kubeshop/testkube-backend

chore: add official template wrapper client
  k8s/templates/distribute--evenly.yaml
  k8s/templates/embed.go
  k8s/templates/official--artillery--beta.yaml
  k8s/templates/official--artillery--v1.yaml
  k8s/templates/official--cypress--beta.yaml
  k8s/templates/official--cypress--v1.yaml
  k8s/templates/official--gradle--beta.yaml
  k8s/templates/official--gradle--v1.yaml
  k8s/templates/official--jmeter--beta.yaml
  k8s/templates/official--jmeter--v1.yaml
  k8s/templates/official--jmeter--v2.yaml
  k8s/templates/official--k6--beta.yaml
  k8s/templates/official--k6--v1.yaml
  k8s/templates/official--maven--beta.yaml
  k8s/templates/official--maven--v1.yaml
  k8s/templates/official--playwright--beta.yaml
  k8s/templates/official--playwright--v1.yaml
  k8s/templates/official--postman--beta.yaml
  k8s/templates/official--postman--v1.yaml
  pkg/newclients/testworkflowtemplateclient/templates_with_buildin.go
Owners: @kubeshop/testkube-backend

chore: decorate existing clients
  pkg/newclients/testworkflowtemplateclient/cloud.go
  pkg/newclients/testworkflowtemplateclient/kubernetes.go
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-backend

chore: remove official templates from Helm Chart
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/beta/artillery.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/beta/cypress.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/beta/gradle.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/beta/jmeter.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/beta/k6.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/beta/maven.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/beta/playwright.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/beta/postman.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/distribute.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/artillery.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/cypress.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/gradle.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/jmeter.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/k6.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/maven.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/playwright.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/postman.yaml
Owners: @kubeshop/testkube-backend

fix: expose with-official for cloud impl
  k8s/templates/embed.go
  pkg/newclients/testworkflowtemplateclient/cloud.go
  pkg/newclients/testworkflowtemplateclient/kubernetes.go
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-backend

chore: simplify has template operations
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-backend

fix: remove helm expression workaround
  k8s/templates/distribute--evenly.yaml
  k8s/templates/official--artillery--beta.yaml
  k8s/templates/official--artillery--v1.yaml
  k8s/templates/official--cypress--beta.yaml
  k8s/templates/official--cypress--v1.yaml
  k8s/templates/official--gradle--beta.yaml
  k8s/templates/official--gradle--v1.yaml
  k8s/templates/official--jmeter--beta.yaml
  k8s/templates/official--jmeter--v1.yaml
  k8s/templates/official--jmeter--v2.yaml
  k8s/templates/official--k6--beta.yaml
  k8s/templates/official--k6--v1.yaml
  k8s/templates/official--maven--beta.yaml
  k8s/templates/official--maven--v1.yaml
  k8s/templates/official--playwright--beta.yaml
  k8s/templates/official--playwright--v1.yaml
  k8s/templates/official--postman--beta.yaml
  k8s/templates/official--postman--v1.yaml
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-backend

fix: fix parsing of Template CRD
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-backend

Prepare the Testkube MCP Server for the MCP registry
  build/mcp-server/Dockerfile
  build/mcp-server/build-local-mcp.sh
  build/mcp-server/build-mcp-server.sh
  build/mcp-server/server.json
Owners: @kubeshop/testkube-backend

update author and icon details
  build/mcp-server/server.json
Owners: @kubeshop/testkube-backend

update test to latest tag
  build/mcp-server/Dockerfile
  build/mcp-server/server.json
Owners: @kubeshop/testkube-backend

chore: add source of truth capability
  pkg/capabilities/capabilities.go
Owners: @kubeshop/testkube-backend

chore: deprecate agent.type
  cmd/api-server/commons/commons.go
  internal/config/procontext.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

feat: respect createOfficialTemplate flag
  cmd/api-server/main.go
  cmd/api-server/services/controlplane.go
  internal/config/config.go
  k8s/helm/testkube-api/templates/deployment.yaml
  pkg/newclients/testworkflowtemplateclient/cloud.go
  pkg/newclients/testworkflowtemplateclient/kubernetes.go
Owners: @kubeshop/testkube-backend

add workflow for mcp release
  .github/workflows/release-mcp-server.yaml
  build/mcp-server/build-local-mcp.sh
  build/mcp-server/build-mcp-server.sh
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

show workflow in actions in PR
  .github/workflows/release-mcp-server.yaml
Owners: @kubeshop/testkube-devops

Update k8s/helm/testkube-api/templates/deployment.yaml
  k8s/helm/testkube-api/templates/deployment.yaml
Owners: @kubeshop/testkube-backend

chore: add official template wrapper client (#6855)
  cmd/api-server/main.go
  cmd/api-server/services/controlplane.go
  internal/config/config.go
  k8s/helm/testkube-api/templates/deployment.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/jmeter.yaml
  k8s/helm/testkube-api/templates/testworkflows/builtin-templates/v1/playwright.yaml
  k8s/templates/distribute--evenly.yaml
  k8s/templates/embed.go
  k8s/templates/official--artillery--beta.yaml
  k8s/templates/official--artillery--v1.yaml
  k8s/templates/official--cypress--beta.yaml
  k8s/templates/official--cypress--v1.yaml
  k8s/templates/official--gradle--beta.yaml
  k8s/templates/official--gradle--v1.yaml
  k8s/templates/official--jmeter--beta.yaml
  k8s/templates/official--jmeter--v1.yaml
  k8s/templates/official--jmeter--v2.yaml
  k8s/templates/official--k6--beta.yaml
  k8s/templates/official--k6--v1.yaml
  k8s/templates/official--maven--beta.yaml
  k8s/templates/official--maven--v1.yaml
  k8s/templates/official--playwright--beta.yaml
  k8s/templates/official--playwright--v1.yaml
  k8s/templates/official--postman--beta.yaml
  k8s/templates/official--postman--v1.yaml
  pkg/newclients/testworkflowtemplateclient/cloud.go
  pkg/newclients/testworkflowtemplateclient/kubernetes.go
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-backend

chore: generate protobuf
  pkg/cloud/service.pb.go
Owners: @kubeshop/testkube-backend

chore: prepare source of truth migration (#6883)
  cmd/api-server/commons/commons.go
  internal/config/procontext.go
  pkg/capabilities/capabilities.go
  pkg/cloud/service.pb.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

feat: add global template to services
  pkg/testworkflows/testworkflowresolver/apply.go
Owners: @kubeshop/testkube-backend

fix issue with registry workflow
  .github/workflows/release-mcp-server.yaml
Owners: @kubeshop/testkube-devops

cleanup worflow for release
  .github/workflows/release-mcp-server.yaml
Owners: @kubeshop/testkube-devops

update server.json author name
  build/mcp-server/server.json
Owners: @kubeshop/testkube-backend

update server.json author name
  build/mcp-server/server.json
Owners: @kubeshop/testkube-backend
