Repository kubeshop/testkube, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube, @kubeshop/testkube-devops

chore: move super agent migration to a separate file
  cmd/api-server/main.go
  cmd/api-server/superagentmigration.go
Owners: @kubeshop/testkube-backend

feat: super agent migration (#6895)
  cmd/api-server/commons/commons.go
  cmd/api-server/main.go
  cmd/api-server/superagentmigration.go
  internal/config/config.go
  internal/config/procontext.go
  pkg/cloud/mock_cloud_api_client.go
  pkg/cloud/service.pb.go
  pkg/cloud/service_grpc.pb.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

workflow tests - securitycontext extended with parallel case
  test/special-cases/special-cases.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

workflow tests - securitycontext extended with parallel case (#6901)
  test/special-cases/special-cases.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

fix: do not enforce super agent migration when TLS is not configured
  cmd/api-server/superagentmigration.go
Owners: @kubeshop/testkube-backend

update docker image description
  build/mcp-server/Dockerfile
Owners: @kubeshop/testkube-backend

fix: do not enforce super agent migration when TLS is not configured (#6902)
  cmd/api-server/superagentmigration.go
Owners: @kubeshop/testkube-backend

chore: allow section of unreachable code
  cmd/api-server/superagentmigration.go
Owners: @kubeshop/testkube-backend

chore: allow section of unreachable code (#6904)
  cmd/api-server/superagentmigration.go
Owners: @kubeshop/testkube-backend

fix: fix build not running on some branches
  .github/workflows/new-build.yaml
Owners: @kubeshop/testkube-devops

fix: fix build not running on some branches (#6903)
  .github/workflows/new-build.yaml
Owners: @kubeshop/testkube-devops

fix: fix build not running on some branches (#6903)
  .github/workflows/new-build.yaml
Owners: @kubeshop/testkube-devops

feat: prepare MCP Server for the MCP registry (#6780)
  .github/workflows/release-mcp-server.yaml
  build/mcp-server/Dockerfile
  build/mcp-server/build-local-mcp.sh
  build/mcp-server/build-mcp-server.sh
  build/mcp-server/server.json
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

e2e tests - timeouts adjusted
  test/testkube/ui-e2e/crd-workflow/cloud-ui-e2e.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

Revert "feat: prepare MCP Server for the MCP registry (#6780)"
  .github/workflows/release-mcp-server.yaml
  build/mcp-server/Dockerfile
  build/mcp-server/build-local-mcp.sh
  build/mcp-server/build-mcp-server.sh
  build/mcp-server/server.json
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

Reapply "feat: prepare MCP Server for the MCP registry (#6780)"
  .github/workflows/release-mcp-server.yaml
  build/mcp-server/Dockerfile
  build/mcp-server/build-local-mcp.sh
  build/mcp-server/build-mcp-server.sh
  build/mcp-server/server.json
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

chore: fix build
  build/_local/agent-server.Dockerfile
  docker-bake.hcl
  go.mod
  go.sum
Owners: @kubeshop/testkube-backend

chore: use import path instead file path
  build/_local/agent-server.Dockerfile
Owners: @kubeshop/testkube-backend

chore: fix build (#6907)
  build/_local/agent-server.Dockerfile
  docker-bake.hcl
  go.mod
  go.sum
Owners: @kubeshop/testkube-backend

feat: add super agent rollback
  cmd/api-server/superagentmigration.go
  pkg/cloud/service.pb.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

feat: add super agent rollback (#6908)
  cmd/api-server/superagentmigration.go
  pkg/cloud/service.pb.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

e2e tests - timeouts adjusted (#6905)
  test/testkube/ui-e2e/crd-workflow/cloud-ui-e2e.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat: detect failure when service exits with non-zero code; cleanup services logic and add tests
  cmd/tcl/testworkflow-toolkit/commands/services.go
  cmd/tcl/testworkflow-toolkit/commands/services_test.go
  test/integration/components/toolkit/services_test.go
Owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube

various quality of life improvements to devbox
  cmd/tcl/kubectl-testkube/devbox/command.go
  cmd/tcl/kubectl-testkube/devbox/devutils/agent.go
  cmd/tcl/kubectl-testkube/devbox/devutils/binary.go
  cmd/tcl/kubectl-testkube/devbox/devutils/gitopsagent.go
  cmd/tcl/kubectl-testkube/devbox/devutils/pods.go
  cmd/tcl/kubectl-testkube/devbox/devutils/runneragent.go
Owners: @kubeshop/testkube-backend

feat: [TKC-4630] add support for webhook capability
  cmd/api-server/main.go
  internal/config/config.go
  pkg/cloud/mock_cloud_api_client.go
  pkg/cloud/service.pb.go
  pkg/cloud/service_grpc.pb.go
  pkg/controlplane/scheduling/controller_mongo.go
  pkg/controlplaneclient/client.go
  pkg/controlplaneclient/mock_client.go
  pkg/controlplaneclient/webhooks.go
  pkg/newclients/webhookclient/cloud.go
  pkg/newclients/webhookclient/cloud_test.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

fix: fix agent rollback
  cmd/api-server/commons/commons.go
  cmd/api-server/main.go
  cmd/api-server/superagentmigration.go
  internal/config/procontext.go
Owners: @kubeshop/testkube-backend

fix: fix agent rollback (#6911)
  cmd/api-server/commons/commons.go
  cmd/api-server/main.go
  cmd/api-server/superagentmigration.go
  internal/config/procontext.go
Owners: @kubeshop/testkube-backend

feat: [TKC-4630] add support for webhook capability (#6906)
  cmd/api-server/main.go
  internal/config/config.go
  pkg/cloud/mock_cloud_api_client.go
  pkg/cloud/service.pb.go
  pkg/cloud/service_grpc.pb.go
  pkg/controlplane/scheduling/controller_mongo.go
  pkg/controlplaneclient/client.go
  pkg/controlplaneclient/mock_client.go
  pkg/controlplaneclient/webhooks.go
  pkg/newclients/webhookclient/cloud.go
  pkg/newclients/webhookclient/cloud_test.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

fix: add required metadata to super agent migration RPC calls
  cmd/api-server/main.go
  cmd/api-server/superagentmigration.go
Owners: @kubeshop/testkube-backend

fix: add required metadata to super agent migration RPC calls (#6914)
  cmd/api-server/main.go
  cmd/api-server/superagentmigration.go
Owners: @kubeshop/testkube-backend

fix: panics after execution cannot be started
  pkg/runner/grpc/client.go
Owners: @kubeshop/testkube-backend

fix: linter error
  pkg/imageinspector/cranefetcher.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4656] make TestTrigger resource fields optional and relax matching
  api/testtriggers/v1/testtrigger_types.go
  api/v1/testkube.yaml
  k8s/crd/tests.testkube.io_testtriggers.yaml
  k8s/helm/testkube-operator/templates/tests.testkube.io_testtriggers.yaml
  pkg/api/v1/testkube/model_test_trigger_upsert_request.go
Owners: @kubeshop/testkube-backend

feat: silence unnecessary executions state transitions
  pkg/runner/grpc/client.go
Owners: @kubeshop/testkube-backend

feat: silence unnecessary executions state transitions (#6917)
  pkg/runner/grpc/client.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4656] make TestTrigger resource fields optional and relax matching (#6916)
  api/testtriggers/v1/testtrigger_types.go
  api/v1/testkube.yaml
  k8s/crd/tests.testkube.io_testtriggers.yaml
  k8s/helm/testkube-operator/templates/tests.testkube.io_testtriggers.yaml
  pkg/api/v1/testkube/model_test_trigger_upsert_request.go
Owners: @kubeshop/testkube-backend

feat: silence unnecessary executions state transitions (#6917)
  pkg/runner/grpc/client.go
Owners: @kubeshop/testkube-backend

chore: add more migration logging
  cmd/api-server/superagentmigration.go
Owners: @kubeshop/testkube-backend

fix: consider both pro context and env vars for starting super agent loops
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

various quality of life improvements to devbox (#6910)
  cmd/tcl/kubectl-testkube/devbox/command.go
  cmd/tcl/kubectl-testkube/devbox/devutils/agent.go
  cmd/tcl/kubectl-testkube/devbox/devutils/binary.go
  cmd/tcl/kubectl-testkube/devbox/devutils/gitopsagent.go
  cmd/tcl/kubectl-testkube/devbox/devutils/pods.go
  cmd/tcl/kubectl-testkube/devbox/devutils/runneragent.go
Owners: @kubeshop/testkube-backend

.github/CODEOWNERS:

* @kubeshop/testkube-backend

/test/ @kubeshop/testkube-qa @kubeshop/testkube

/.github/ @kubeshop/testkube-devops
/goreleaser_files/ @kubeshop/testkube-devops
.goreleaser.yml @kubeshop/testkube-devops
.goreleaser-dev.yml @kubeshop/testkube-devops
.golangci.yml @kubeshop/testkube-devops
.builds-* @kubeshop/testkube-devops
