Repository kubeshop/testkube, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube, @kubeshop/testkube-devops

feat: add status filter to test workflow execution commands (#6808)
  cmd/kubectl-testkube/commands/testworkflows/executions.go
  pkg/api/v1/client/interface.go
  pkg/api/v1/client/testworkflow.go
Owners: @kubeshop/testkube-backend

feat: syncable object field (#6809)
  api/v1/testkube.yaml
  pkg/api/v1/testkube/model_source.go
  pkg/api/v1/testkube/model_syncable.go
  pkg/api/v1/testkube/model_test_trigger.go
  pkg/api/v1/testkube/model_test_trigger_upsert_request.go
  pkg/api/v1/testkube/model_test_workflow.go
  pkg/api/v1/testkube/model_test_workflow_template.go
  pkg/api/v1/testkube/model_webhook.go
  pkg/api/v1/testkube/model_webhook_create_request.go
  pkg/api/v1/testkube/model_webhook_template.go
  pkg/api/v1/testkube/model_webhook_template_create_request.go
  pkg/api/v1/testkube/model_webhook_template_update_request.go
  pkg/api/v1/testkube/model_webhook_update_request.go
Owners: @kubeshop/testkube-backend

update CI to use kubeshop/mcp-server image
  .github/workflows/new-build.yaml
Owners: @kubeshop/testkube-devops

fix: use uid instead of serial
  pkg/database/postgres/migrations/20251015112922_schema_tuning.sql
  pkg/database/postgres/sqlc/executions.sql.go
  pkg/database/postgres/sqlc/executions.sql_test.go
  pkg/database/postgres/sqlc/models.go
  pkg/database/postgres/sqlc/queries.go
  pkg/repository/testworkflow/postgres/postgres.go
  pkg/repository/testworkflow/postgres/postgres_test.go
Owners: @kubeshop/testkube-backend

fix: unit test
  pkg/database/postgres/sqlc/executions.sql_test.go
Owners: @kubeshop/testkube-backend

update CI to use kubeshop/mcp-server image
  .github/workflows/new-build.yaml
Owners: @kubeshop/testkube-devops

feat: [TKC-4384] introduce leases-based leader election
  cmd/api-server/main.go
  cmd/api-server/services/telemetry.go
  internal/config/config.go
  pkg/coordination/leader/coordinator.go
  pkg/coordination/leader/coordinator_test.go
  pkg/repository/leasebackend/k8s/k8s.go
  pkg/repository/leasebackend/k8s/k8s_test.go
  pkg/triggers/lease.go
  pkg/triggers/lease_test.go
  pkg/triggers/service.go
  pkg/triggers/service_test.go
  pkg/triggers/watcher.go
  pkg/triggers/watcher_test.go
Owners: @kubeshop/testkube-backend

fix: sigantures
  pkg/database/postgres/queries/executions.sql
  pkg/database/postgres/sqlc/executions.sql.go
  pkg/database/postgres/sqlc/queries.go
  pkg/repository/testworkflow/postgres/postgres.go
  pkg/repository/testworkflow/postgres/postgres_test.go
Owners: @kubeshop/testkube-backend

fix: cve-2025-48384 Upgrade to alpine:3.20.8
  .github/workflows/new-build.yaml
  Makefile
  build/_local/testworkflow-toolkit.Dockerfile
  build/mcp-server/Dockerfile
  docker-bake.hcl
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

fixes after review
  pkg/coordination/leader/coordinator.go
Owners: @kubeshop/testkube-backend

feat: [TKC-4233] workflow tests - playwright with video recording enabled (#6796)
  test/cypress/crd-workflow/smoke.yaml
  test/playwright/crd-workflow/smoke.yaml
  test/playwright/playwright-project/playwright-video-recording.config.js
  test/playwright/playwright-project/tests/smoke.spec.js
  test/playwright/playwright-project/tests/smoke2.spec.js
  test/suites/playwright-suite-full.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

workflow tests - special-cases-step-env-override extended with template case (#6798)
  test/special-cases/special-cases.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

chore: stop downloading tools (#6802)
  Makefile
Owners: @kubeshop/testkube-backend

chore: add leases rbac to helm
  k8s/helm/testkube-api/templates/role.yaml
  k8s/helm/testkube-api/templates/rolebinding.yaml
  k8s/helm/testkube-runner/templates/role.yaml
  k8s/helm/testkube-runner/templates/rolebinding.yaml
Owners: @kubeshop/testkube-backend

feat: [TKC-4384] introduce leases-based leader election (#6786)
  cmd/api-server/main.go
  cmd/api-server/services/telemetry.go
  internal/config/config.go
  k8s/helm/testkube-api/templates/role.yaml
  k8s/helm/testkube-api/templates/rolebinding.yaml
  k8s/helm/testkube-runner/templates/role.yaml
  k8s/helm/testkube-runner/templates/rolebinding.yaml
  pkg/coordination/leader/coordinator.go
  pkg/coordination/leader/coordinator_test.go
  pkg/repository/leasebackend/k8s/k8s.go
  pkg/repository/leasebackend/k8s/k8s_test.go
  pkg/triggers/lease.go
  pkg/triggers/lease_test.go
  pkg/triggers/service.go
  pkg/triggers/service_test.go
  pkg/triggers/watcher.go
  pkg/triggers/watcher_test.go
Owners: @kubeshop/testkube-backend

add a workflow for manual release of testkube cli
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

chore: fix testworkflowmetrics limit (#6807)
  pkg/repository/testworkflow/mongo/mongo.go
Owners: @kubeshop/testkube-backend

add a workflow for manual release of testkube cli (#6812)
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

add a workflow for manual release of testkube cli (#6812)
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

fix tag fetching in the manual release cli workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

fix tag fetching in the manual release cli workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

skip validate in the manual cli release workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

skip validate in the manual cli release workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

refactor manual cli release workflow
  .goreleaser.yml
Owners: @kubeshop/testkube-devops

refactor manual cli release workflow
  .goreleaser.yml
Owners: @kubeshop/testkube-devops

revert changes to goreleaser files from a working commit
  .builds-darwin.goreleaser.yml
  .builds-linux.goreleaser.yml
  .builds-windows.goreleaser.yml
Owners: @kubeshop/testkube-devops

revert changes to goreleaser files from a working commit
  .builds-darwin.goreleaser.yml
  .builds-linux.goreleaser.yml
  .builds-windows.goreleaser.yml
Owners: @kubeshop/testkube-devops

use PAT in manual cli release workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

use PAT in manual cli release workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

update github app id in manual cli release workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

update github app id in manual cli release workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

use correct github app id in manual cli release workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

use correct github app id in manual cli release workflow
  .github/workflows/release-cli-manual.yaml
Owners: @kubeshop/testkube-devops

chore: add image tag suffix
  k8s/helm/testkube-api/templates/_helpers.tpl
Owners: @kubeshop/testkube-backend

chore: add image tag suffix (#6813)
  k8s/helm/testkube-api/templates/_helpers.tpl
Owners: @kubeshop/testkube-backend

fix: fix missing short sha
  .github/workflows/new-build.yaml
Owners: @kubeshop/testkube-devops

fix: remove unneeded sha tags
  .github/workflows/new-build.yaml
Owners: @kubeshop/testkube-devops

fix: update sqlc
  pkg/controlplane/scheduling/common_postgres.go
  pkg/controlplane/scheduling/sqlc/db.go
  pkg/controlplane/scheduling/sqlc/execution_controller.sql.go
  pkg/controlplane/scheduling/sqlc/execution_querier.sql.go
  pkg/controlplane/scheduling/sqlc/models.go
  pkg/controlplane/scheduling/sqlc/scheduler.sql.go
  pkg/database/postgres/sqlc/db.go
  pkg/database/postgres/sqlc/executions.sql.go
  pkg/database/postgres/sqlc/leases.sql.go
  pkg/database/postgres/sqlc/models.go
  pkg/database/postgres/sqlc/sequences.sql.go
Owners: @kubeshop/testkube-backend

fix: missing return
  pkg/runner/grpc/client.go
Owners: @kubeshop/testkube-backend

fix: missing return (#6814)
  pkg/runner/grpc/client.go
Owners: @kubeshop/testkube-backend

.github/CODEOWNERS:

* @kubeshop/testkube-backend

/test/ @kubeshop/testkube-qa @kubeshop/testkube

/.github/ @kubeshop/testkube-devops
/goreleaser_files/ @kubeshop/testkube-devops
.goreleaser.yml @kubeshop/testkube-devops
.goreleaser-dev.yml @kubeshop/testkube-devops
.golangci.yml @kubeshop/testkube-devops
.builds-* @kubeshop/testkube-devops
