Repository kubeshop/testkube, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube, @kubeshop/testkube-devops

fix: include timezone data in application
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

fix: include timezone data in application (#6920)
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

workflow tests - cron trigger with timezone, special cases -workflow with execution tags
  test/special-cases/special-cases-additional.yaml
  test/special-cases/special-cases.yaml
  test/suites/special-cases/special-cases-suite.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

fix: standalone decline execution
  pkg/controlplane/agent_grpc_runner.go
Owners: @kubeshop/testkube-backend

fix: include timezone data in application (#6920)
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

workflow tests - cron trigger with timezone, special cases -workflow with execution tags (#6921)
  test/special-cases/special-cases-additional.yaml
  test/special-cases/special-cases.yaml
  test/suites/special-cases/special-cases-suite.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

fix: [TKC-4656] make TestTrigger resource fields optional and relax matching (#6916)
  api/testtriggers/v1/testtrigger_types.go
  api/v1/testkube.yaml
  k8s/crd/tests.testkube.io_testtriggers.yaml
  k8s/helm/testkube-operator/templates/tests.testkube.io_testtriggers.yaml
  pkg/api/v1/testkube/model_test_trigger_upsert_request.go
Owners: @kubeshop/testkube-backend

fix: standalone decline execution (#6919)
  pkg/controlplane/agent_grpc_runner.go
Owners: @kubeshop/testkube-backend

fix: standalone decline execution (#6919)
  pkg/controlplane/agent_grpc_runner.go
Owners: @kubeshop/testkube-backend

feat(helm): add global.testkubeVersion support for dynamic image tags
  k8s/helm/testkube-api/templates/_helpers.tpl
  k8s/helm/testkube-operator/templates/_helpers.tpl
  k8s/helm/testkube-runner/templates/_helpers.tpl
Owners: @kubeshop/testkube-backend

chore: add info about mcp
  AGENTS.md
Owners: @kubeshop/testkube-backend

chore: init agents.md (#6876)
  AGENTS.md
Owners: @kubeshop/testkube-backend

feat: [TKC-4667] Make trigger client depend on CP
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

feat: [TKC-4667] Make trigger client depend on CP (#6923)
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

feat: [TKC-4679] Make webhook client depend on CP
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

feat(helm): add global.testkubeVersion support for dynamic image tags (#6922)
  k8s/helm/testkube-api/templates/_helpers.tpl
  k8s/helm/testkube-operator/templates/_helpers.tpl
  k8s/helm/testkube-runner/templates/_helpers.tpl
Owners: @kubeshop/testkube-backend

feat(helm): add global.testkubeVersion support for dynamic image tags (#6922)
  k8s/helm/testkube-api/templates/_helpers.tpl
  k8s/helm/testkube-operator/templates/_helpers.tpl
  k8s/helm/testkube-runner/templates/_helpers.tpl
Owners: @kubeshop/testkube-backend

workflow tests - icon annotations added
  test/artillery/crd-workflow/smoke.yaml
  test/curl/crd-workflow/smoke.yaml
  test/cypress/crd-workflow/smoke.yaml
  test/gradle/crd-workflow/smoke.yaml
  test/jmeter/crd-workflow/smoke.yaml
  test/junit/crd-workflow/smoke.yaml
  test/k6/crd-workflow/smoke.yaml
  test/locust/crd-workflow/smoke.yaml
  test/maven/crd-workflow/smoke.yaml
  test/nunit/crd-workflow/crd.yaml
  test/pact/pact-js-project/crd-workflow/smoke.yaml
  test/playwright/crd-workflow/smoke.yaml
  test/postman/crd-workflow/smoke.yaml
  test/pytest/crd-workflow/smoke.yaml
  test/robotframework/crd/smoke.yaml
  test/selenium/crd-workflow/smoke.yaml
  test/soapui/crd-workflow/smoke.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat: [TKC-4679] Make webhook client depend on CP (#6924)
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

feat: TestWorkflow for AI Agents
  test/testkube/ai/copilot/crd-workflow/copilot-ai-tests.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

fix: copilot ai tests
  test/testkube/ai/copilot/crd-workflow/copilot-ai-tests.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

fix(release): update testkube-runner appVersion in Chart.yaml not values.yaml
  js/scripts/tk-release/src/utils/helm.js
Owners: @kubeshop/testkube-backend

fix(release): update testkube-runner appVersion in Chart.yaml not values.yaml (#6927)
  js/scripts/tk-release/src/utils/helm.js
Owners: @kubeshop/testkube-backend

fix(release): update testkube-runner appVersion in Chart.yaml not values.yaml (#6927)
  js/scripts/tk-release/src/utils/helm.js
Owners: @kubeshop/testkube-backend

refactor: copilot auth to use secret for AUTH_TOKEN
  test/testkube/ai/copilot/crd-workflow/copilot-ai-tests.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat: add eager assignment
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/scheduling/enqueuer.go
  pkg/controlplane/scheduling/querier.go
  pkg/controlplane/scheduling/querier_mongo.go
  pkg/controlplane/scheduling/querier_postgres.go
  pkg/testworkflows/testworkflowexecutor/prepared.go
Owners: @kubeshop/testkube-backend

Revert "feat: add eager assignment"
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/scheduling/enqueuer.go
  pkg/controlplane/scheduling/querier.go
  pkg/controlplane/scheduling/querier_mongo.go
  pkg/controlplane/scheduling/querier_postgres.go
  pkg/testworkflows/testworkflowexecutor/prepared.go
Owners: @kubeshop/testkube-backend

feat: add eager assignment
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/scheduling/enqueuer.go
  pkg/controlplane/scheduling/querier.go
  pkg/controlplane/scheduling/querier_mongo.go
  pkg/controlplane/scheduling/querier_postgres.go
  pkg/testworkflows/testworkflowexecutor/prepared.go
Owners: @kubeshop/testkube-backend

fix: docker bake and build workflow to right push public cli images
  .github/workflows/new-build.yaml
  docker-bake.hcl
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

fix: sanitize name
  pkg/triggers/event.go
Owners: @kubeshop/testkube-backend

fix: add utils method
  pkg/triggers/event.go
  pkg/utils/utils.go
Owners: @kubeshop/testkube-backend

fix: truncate label value (#6930)
  pkg/triggers/event.go
  pkg/utils/utils.go
Owners: @kubeshop/testkube-backend

fix: truncate label value (#6930)
  pkg/triggers/event.go
  pkg/utils/utils.go
Owners: @kubeshop/testkube-backend

feat: optimise get execution updates to single query
  pkg/controlplane/agent_grpc_execution_updates.go
  pkg/controlplane/scheduling/enqueuer.go
  pkg/controlplane/scheduling/querier.go
  pkg/controlplane/scheduling/querier_mongo.go
  pkg/controlplane/scheduling/querier_postgres.go
  pkg/controlplane/scheduling/scheduler_postgres.go
  pkg/controlplane/scheduling/sqlc/execution_querier.sql
  pkg/controlplane/scheduling/sqlc/execution_querier.sql.go
Owners: @kubeshop/testkube-backend

feat: improve enqueue error logging
  pkg/controlplane/agent_grpc_general.go
Owners: @kubeshop/testkube-backend

fix: use full replacement for YAML updates in TestTrigger handler
  internal/app/api/v1/testtriggers.go
  internal/app/api/v1/testtriggers_test.go
  pkg/mapper/testtriggers/kube_openapi.go
Owners: @kubeshop/testkube-backend

fix: use full replacement for YAML updates in TestTrigger handler (#6931)
  internal/app/api/v1/testtriggers.go
  internal/app/api/v1/testtriggers_test.go
  pkg/mapper/testtriggers/kube_openapi.go
Owners: @kubeshop/testkube-backend

fix: docker bake and build workflow to right push public cli images (#6929)
  .github/workflows/new-build.yaml
  docker-bake.hcl
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

fix: add mode=replace query param for TestTrigger full replacement
  internal/app/api/v1/testtriggers.go
  internal/app/api/v1/testtriggers_test.go
  pkg/api/v1/client/interface.go
  pkg/api/v1/client/testtriggers.go
Owners: @kubeshop/testkube-backend

fix: tests
  internal/app/api/v1/testtriggers_test.go
Owners: @kubeshop/testkube-backend

.github/CODEOWNERS:

* @kubeshop/testkube-backend

/test/ @kubeshop/testkube-qa @kubeshop/testkube

/.github/ @kubeshop/testkube-devops
/goreleaser_files/ @kubeshop/testkube-devops
.goreleaser.yml @kubeshop/testkube-devops
.goreleaser-dev.yml @kubeshop/testkube-devops
.golangci.yml @kubeshop/testkube-devops
.builds-* @kubeshop/testkube-devops
