Repository kubeshop/testkube, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube, @kubeshop/testkube-devops

update setting nodeSelector and tolearations for NATS
  k8s/helm/testkube/Chart.yaml
  k8s/helm/testkube/charts/nats/Chart.yaml
  k8s/helm/testkube/charts/nats/files/stateful-set/pod-template.yaml
  k8s/helm/testkube/charts/nats/templates/_helpers.tpl
  k8s/helm/testkube/charts/nats/values.yaml
  k8s/helm/testkube/values.yaml
Owners: @kubeshop/testkube-backend

feat: enhanced contributors guide
  CONTRIBUTING.md
Owners: @kubeshop/testkube-backend

feat: [x] refactor leases
  Makefile
  cmd/api-server/main.go
  pkg/event/emitter.go
  pkg/event/emitter_test.go
  pkg/runner/agent_start_test.go
  pkg/runner/events.go
  pkg/runner/events_test.go
  pkg/testworkflows/testworkflowexecutor/executor_test.go
  pkg/triggers/service.go
  pkg/triggers/service_test.go
  test/e2e/leader/leader_e2e_test.go
Owners: @kubeshop/testkube-backend, @kubeshop/testkube-qa, @kubeshop/testkube

docs: update contributing guidelines and add Testkube overview
  CONTRIBUTING.md
Owners: @kubeshop/testkube-backend

update setting nodeSelector and tolearations for NATS (#6886)
  k8s/helm/testkube/Chart.yaml
  k8s/helm/testkube/charts/nats/Chart.yaml
  k8s/helm/testkube/charts/nats/files/stateful-set/pod-template.yaml
  k8s/helm/testkube/charts/nats/templates/_helpers.tpl
  k8s/helm/testkube/charts/nats/values.yaml
  k8s/helm/testkube/values.yaml
Owners: @kubeshop/testkube-backend

chore: add test for basic use cases
  pkg/testworkflows/executionworker/controller/watchers/commons_test.go
Owners: @kubeshop/testkube-backend

chore: move DefaultError message to avoid circular dependency when using it in the watchers package
  pkg/runner/runner.go
  pkg/runner/service.go
  pkg/testworkflows/executionworker/controller/notifier.go
  pkg/testworkflows/executionworker/controller/watchers/commons.go
  pkg/testworkflows/executionworker/controller/watchers/commons_test.go
Owners: @kubeshop/testkube-backend

chore: refactor GetJobError to be easier to understand
  pkg/testworkflows/executionworker/controller/watchers/commons.go
Owners: @kubeshop/testkube-backend

feat: add webhook credential resolution
  cmd/api-server/main.go
  cmd/api-server/services/controlplane.go
  pkg/agent/agent.go
  pkg/cloud/generate.go
  pkg/cloud/mock_cloud_api_client.go
  pkg/controlplane/agent_grpc_runner.go
  pkg/controlplane/server.go
  pkg/event/emitter.go
  pkg/event/kind/webhook/credential_adapter.go
  pkg/event/kind/webhook/credentials_test.go
  pkg/event/kind/webhook/listener.go
  pkg/event/kind/webhook/loader.go
Owners: @kubeshop/testkube-backend

feat: add webhook credential resolution (#6881)
  cmd/api-server/main.go
  cmd/api-server/services/controlplane.go
  pkg/agent/agent.go
  pkg/cloud/generate.go
  pkg/cloud/mock_cloud_api_client.go
  pkg/controlplane/agent_grpc_runner.go
  pkg/controlplane/server.go
  pkg/event/emitter.go
  pkg/event/kind/webhook/credential_adapter.go
  pkg/event/kind/webhook/credentials_test.go
  pkg/event/kind/webhook/listener.go
  pkg/event/kind/webhook/loader.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4605] automated testing for k8sevents
  pkg/event/emitter_test.go
  pkg/event/kind/k8sevent/listener_test.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4605] automated testing for k8sevents (#6889)
  pkg/event/emitter_test.go
  pkg/event/kind/k8sevent/listener_test.go
Owners: @kubeshop/testkube-backend

update setting nodeSelector and tolearations for NATS (#6886)
  k8s/helm/testkube/Chart.yaml
  k8s/helm/testkube/charts/nats/Chart.yaml
  k8s/helm/testkube/charts/nats/files/stateful-set/pod-template.yaml
  k8s/helm/testkube/charts/nats/templates/_helpers.tpl
  k8s/helm/testkube/charts/nats/values.yaml
  k8s/helm/testkube/values.yaml
Owners: @kubeshop/testkube-backend

Added cucumber+playwright examples
  test/playwright-cucumber/cucumber.js
  test/playwright-cucumber/cucumber.mjs
  test/playwright-cucumber/features/smoke.feature
  test/playwright-cucumber/features/steps/smoke.steps.js
  test/playwright-cucumber/package-lock.json
  test/playwright-cucumber/package.json
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

added report generating capabilities
  test/playwright-cucumber/cucumber.js
  test/playwright-cucumber/generate-report.js
  test/playwright-cucumber/package-lock.json
  test/playwright-cucumber/package.json
  test/playwright-cucumber/reports/cucumber_report.html
  test/playwright-cucumber/reports/cucumber_report.json
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

various quality of life improvements to devbox
  cmd/tcl/kubectl-testkube/devbox/command.go
  cmd/tcl/kubectl-testkube/devbox/devutils/agent.go
  cmd/tcl/kubectl-testkube/devbox/devutils/gitopsagent.go
  cmd/tcl/kubectl-testkube/devbox/devutils/pods.go
  cmd/tcl/kubectl-testkube/devbox/devutils/runneragent.go
Owners: @kubeshop/testkube-backend

Added workflow YAML
  test/playwright-cucumber/workflows/example-playwright-cucumber.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

feat:minio-support-testworkflow
  api/testworkflows/v1/content_types.go
  api/testworkflows/v1/zz_generated.deepcopy.go
  api/v1/testkube.yaml
  cmd/testworkflow-toolkit/commands/minio.go
  cmd/testworkflow-toolkit/commands/root.go
  k8s/crd/testworkflows.testkube.io_testworkflows.yaml
  k8s/crd/testworkflows.testkube.io_testworkflowtemplates.yaml
  k8s/helm/testkube-operator/templates/testworkflows.testkube.io_testworkflows.yaml
  k8s/helm/testkube-operator/templates/testworkflows.testkube.io_testworkflowtemplates.yaml
  pkg/api/v1/testkube/model_test_workflow_content.go
  pkg/api/v1/testkube/model_test_workflow_content_minio.go
  pkg/mapper/testworkflows/kube_openapi.go
  pkg/mapper/testworkflows/openapi_kube.go
  pkg/storage/minio/minio.go
  pkg/testworkflows/testworkflowprocessor/operations.go
  pkg/testworkflows/testworkflowprocessor/presets/presets.go
  pkg/testworkflows/testworkflowresolver/merge.go
Owners: @kubeshop/testkube-backend

Workflow tests - soapui examples updated, soapui beta template+workflow for template case added
  test/soapui/crd-workflow/smoke.yaml
  test/suites/soapui-suite-full.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

soapui - helm hooks removed
  test/soapui/crd-workflow/smoke.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

official templates - helm annotations removed
  k8s/templates/distribute--evenly.yaml
  k8s/templates/official--artillery--beta.yaml
  k8s/templates/official--artillery--v1.yaml
  k8s/templates/official--cypress--beta.yaml
  k8s/templates/official--cypress--v1.yaml
  k8s/templates/official--gradle--beta.yaml
  k8s/templates/official--gradle--v1.yaml
  k8s/templates/official--jmeter--beta.yaml
  k8s/templates/official--jmeter--v1.yaml
  k8s/templates/official--jmeter--v2.yaml
  k8s/templates/official--k6--beta.yaml
  k8s/templates/official--k6--v1.yaml
  k8s/templates/official--maven--beta.yaml
  k8s/templates/official--maven--v1.yaml
  k8s/templates/official--playwright--beta.yaml
  k8s/templates/official--playwright--v1.yaml
  k8s/templates/official--postman--beta.yaml
  k8s/templates/official--postman--v1.yaml
Owners: @kubeshop/testkube-backend

chore: do not gitignore chart.lock
  .gitignore
  k8s/helm/testkube-runner/Chart.lock
  k8s/helm/testkube/Chart.lock
Owners: @kubeshop/testkube-backend

chore: increase openapi lint timeout
  .github/workflows/lint.yaml
Owners: @kubeshop/testkube-devops

chore: do not gitignore chart.lock (#6897)
  .github/workflows/lint.yaml
  .gitignore
  k8s/helm/testkube-runner/Chart.lock
  k8s/helm/testkube/Chart.lock
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

chore: do not gitignore chart.lock
  .gitignore
  k8s/helm/testkube-runner/Chart.lock
  k8s/helm/testkube/Chart.lock
Owners: @kubeshop/testkube-backend

fix: [TKC-4622] sanitize event labels
  pkg/triggers/event.go
  pkg/triggers/event_test.go
Owners: @kubeshop/testkube-backend

official templates - helm annotations removed (#6894)
  k8s/templates/distribute--evenly.yaml
  k8s/templates/official--artillery--beta.yaml
  k8s/templates/official--artillery--v1.yaml
  k8s/templates/official--cypress--beta.yaml
  k8s/templates/official--cypress--v1.yaml
  k8s/templates/official--gradle--beta.yaml
  k8s/templates/official--gradle--v1.yaml
  k8s/templates/official--jmeter--beta.yaml
  k8s/templates/official--jmeter--v1.yaml
  k8s/templates/official--jmeter--v2.yaml
  k8s/templates/official--k6--beta.yaml
  k8s/templates/official--k6--v1.yaml
  k8s/templates/official--maven--beta.yaml
  k8s/templates/official--maven--v1.yaml
  k8s/templates/official--playwright--beta.yaml
  k8s/templates/official--playwright--v1.yaml
  k8s/templates/official--postman--beta.yaml
  k8s/templates/official--postman--v1.yaml
Owners: @kubeshop/testkube-backend

feat: [TKC-4596] workflow tests - soapui cases extended, soapui beta wizard template+workflow (#6893)
  test/soapui/crd-workflow/smoke.yaml
  test/suites/soapui-suite-full.yaml
Owners: @kubeshop/testkube-qa, @kubeshop/testkube

fix: [TKC-4622] sanitize event labels (#6898)
  pkg/triggers/event.go
  pkg/triggers/event_test.go
Owners: @kubeshop/testkube-backend

chore: clean up old templates from helm
  cmd/api-server/main.go
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-backend

fix: [TKC-4622] sanitize event labels (#6898)
  pkg/triggers/event.go
  pkg/triggers/event_test.go
Owners: @kubeshop/testkube-backend

chore: disable linting openapi
  .github/workflows/lint.yaml
Owners: @kubeshop/testkube-devops

chore: clean up old templates from helm (#6899)
  .github/workflows/lint.yaml
  cmd/api-server/main.go
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

official templates - helm annotations removed (#6894)
  k8s/templates/distribute--evenly.yaml
  k8s/templates/official--artillery--beta.yaml
  k8s/templates/official--artillery--v1.yaml
  k8s/templates/official--cypress--beta.yaml
  k8s/templates/official--cypress--v1.yaml
  k8s/templates/official--gradle--beta.yaml
  k8s/templates/official--gradle--v1.yaml
  k8s/templates/official--jmeter--beta.yaml
  k8s/templates/official--jmeter--v1.yaml
  k8s/templates/official--jmeter--v2.yaml
  k8s/templates/official--k6--beta.yaml
  k8s/templates/official--k6--v1.yaml
  k8s/templates/official--maven--beta.yaml
  k8s/templates/official--maven--v1.yaml
  k8s/templates/official--playwright--beta.yaml
  k8s/templates/official--playwright--v1.yaml
  k8s/templates/official--postman--beta.yaml
  k8s/templates/official--postman--v1.yaml
Owners: @kubeshop/testkube-backend

chore: clean up old templates from helm (#6899)
  .github/workflows/lint.yaml
  cmd/api-server/main.go
  pkg/newclients/testworkflowtemplateclient/with_officials.go
Owners: @kubeshop/testkube-devops, @kubeshop/testkube-backend

feat: implement super agent migration on client side
  cmd/api-server/main.go
Owners: @kubeshop/testkube-backend

feat: create an override option for super agent migration
  internal/config/config.go
Owners: @kubeshop/testkube-backend

feat: write to kubernetes termination log if unable to migrate
  cmd/api-server/main.go
  internal/config/config.go
Owners: @kubeshop/testkube-backend

feat: handle procontext super agent status response field
  cmd/api-server/commons/commons.go
  internal/config/procontext.go
Owners: @kubeshop/testkube-backend

feat: add super agent migration endpoint and return current super-agent-ness with procontext
  pkg/cloud/mock_cloud_api_client.go
  pkg/cloud/service.pb.go
  pkg/cloud/service_grpc.pb.go
  proto/service.proto
Owners: @kubeshop/testkube-backend

.github/CODEOWNERS:

* @kubeshop/testkube-backend

/test/ @kubeshop/testkube-qa @kubeshop/testkube

/.github/ @kubeshop/testkube-devops
/goreleaser_files/ @kubeshop/testkube-devops
.goreleaser.yml @kubeshop/testkube-devops
.goreleaser-dev.yml @kubeshop/testkube-devops
.golangci.yml @kubeshop/testkube-devops
.builds-* @kubeshop/testkube-devops
